<div class="<%= active_class(user) %>">
  <div class="<%= status_class(user) %>"></div>
  <div class="avatar">
    <%= image_tag user.avatar, width: 50, height: 50 %>
  </div>
  <div class="content">
    <div class="screen-name"><%= user.screen_name %></div>
    <div class="last-comment" id="card-<%= user.id %>">luke I am your father</div>
  </div>
</div>
